<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cyquen.employee.mapper.EmployeeMapper">

    <select id="findById" resultType="com.cyquen.employee.model.Employee">
        select *
        from employee
        where id = #{id}
    </select>
    <select id="findAll" resultType="com.cyquen.employee.model.Employee">
        select id, name
        from employee
    </select>
    <select id="findAllId" resultType="java.lang.Integer">
        select id
        from employee
    </select>
    <select id="findWorkplaceDistribution" resultType="com.cyquen.employee.model.WorkplaceDistribution">
        select workplace, count(1) population from employee group by workplace
    </select>
</mapper>