<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cyquen.employee.mapper.EmployeeMapper">

    <select id="findById" resultType="com.cyquen.employee.model.Employee">
        select *
        from employee
        where id = #{id}
    </select>
    <select id="findAll" resultType="com.cyquen.employee.model.Employee">
        select id, name
        from employee
    </select>
    <select id="findAllId" resultType="java.lang.Integer">
        select id
        from employee
    </select>
    <select id="findDistribution" resultType="com.cyquen.employee.model.Distribution">
        select ${type} as address, count(1) population
        from employee
        group by ${type}
    </select>
    <select id="findAgeRangeNumber" resultType="com.cyquen.employee.model.Count">
        SELECT CASE
                   WHEN age BETWEEN 18 AND 30 THEN '18-30岁'
                   WHEN age BETWEEN 31 AND 40 THEN '31-40岁'
                   WHEN age BETWEEN 41 AND 50 THEN '41-50岁'
                   ELSE '50岁以上'
                   END  AS name,
               COUNT(*) AS value
        FROM (SELECT TIMESTAMPDIFF(YEAR, birthdate, CURDATE()) AS age
              FROM employee) AS t
        GROUP BY name;
    </select>
    <select id="findGenderNumber" resultType="com.cyquen.employee.model.Count">
        select gender as name, count(1) as value
        from employee
        group by gender
    </select>
    <select id="findPostNumber" resultType="com.cyquen.employee.model.Count">
        select post as name, count(1) as value
        from employee
        group by post
        order by value desc
    </select>
    <select id="findAllByPost" resultType="java.lang.Integer">
        select id from employee where post = #{post}
    </select>
</mapper>